body {
  background-color: #282c34;
  text-align: center;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  font-family: 'Open Sans', sans-serif;
  font-size: 200%;
  text-align: left;
  margin-bottom: 10px;
  color: #fff;
}

.square {
  font-family: 'Caveat Brush', cursive;
  color: red;
  background: #61dafb;
  border: 1px solid #999;
  float: left;
  font-size: 160px;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  display: inline-block;
  margin: 20px;
}

.game-board {
  display: inline-block;
  color: #fff;
}

.game-info {
  vertical-align: top;
  margin-left: 20px;
  display: inline-block;
  font-size: 150%;
  text-align: left;
  color: #fff;
}