body {
  font-family: Arial, Helvetica, sans-serif;
}

#leftSide {
  border: solid;
  width: 47%;
  min-height: 50px;
  float: left;
  border-radius: 6px;
  padding: 0.5%;
  margin: auto;
  margin: 0.5% 0% 0.5% 0.5%;
}

#rightSide {
  border: solid;
  width: 47%;
  min-height: 50px;
  float: right;
  border-radius: 6px;
  padding: 0.5%;
  margin: auto;
  margin: 0.5% 0.5% 0% 0.5%;
}

.btnL {
  display: inline-block;
  font-weight: bold;
  font-size: 100%;
  padding: 1%;
  margin: 1%;
  background-color: #9effab;
  border-radius: 4px;
  width: 25%;
}
.btnL:hover {
  background-color: #19ff2f;
}

.btnR {
  display: inline-block;
  float: right;
  font-weight: bold;
  font-size: 100%;
  padding: 1%;
  margin: 1%;
  background-color: #ff9494;
  border-radius: 4px;
  width: 25%;
}
.btnR:hover {
  background-color: #ff3024;
}

.card {
  display: block;
  border: solid;
  padding: 0.8%;
  margin: 1%;
  border-radius: 6px;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.label {
  font-size: 140%;
  display: block;
  margin: 1%;
}

.divDOMbox {
  border: solid;
  width: 30%;
  margin: auto;
  border-radius: 6px;
  padding: 0.5%;
  text-align: center;
}

.cOList {
  list-style-position: outside;
  display: inline-block;
}
